body{
    background: linear-gradient(to bottom, rgb(200, 233, 255), rgba(15, 71, 108, 0.4));
    font-size: 1.15em;
    text-align: justify;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#title{
    color: rgb(30, 30, 80);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#service-image{
    height: 400px;
    width: 50vw;
    background: radial-gradient(circle, rgb(250, 180, 180) 20%, rgb(249, 90, 127) 40%, rgb(253, 14, 58) 70%);
    border: 10px solid rgba(30, 30, 80)
}