body{
    background-color: pink;
}

table, td, th{
    border: 3px solid seagreen;
    padding: 1%;
    border-spacing: 0.3em;
    text-align: center;
    background-color: lightsteelblue;
}

table{
    border: 4px solid salmon;
    width: 100%;
    margin-top: 1rem;
}