body{
    background:url(galaxy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.div1{
    width: 100%;
    height: 8rem;
    background-color: rgb(98, 127, 187);
    /* align-items: center; */
}

p{
    text-align: center;
}

 #para{
    padding-top: 3.5rem;
 }

.div2{
    font-size:2rem;
    font-family: cursive;
    padding-top: 4.5rem;
    text-align: center;
    height: 10rem;
    color: white;
}

.div3{
    width: 100%;
    /* margin-left: 0.67rem; */
    background-color: rgb(98, 127, 187);
    display: flex;
    justify-content:center;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

#ele1{
    display: block;
    background-color: rgb(90, 12, 216);
    height: 9rem;
    width: 9rem;
    margin-right: 1rem;
}

#ele2{
    display: block;
    padding-top: 1.5rem;
    background-color:white;
    width: 8rem;
    background-color: rgb(144, 89, 255);
    border-color: rgb(32, 18, 154);
    border-width: 0.5rem;
    border-style: solid;
}

#ele3{
    display: block;
    background-color: rgb(181, 166, 205);
    padding-top: 3.5rem;
    /* height: 9rem; */
    width: 9rem;
    margin-left: 1rem;
}

#same{
    width: 99%;
    border-color: blue;
    border-style: solid;
    border-width: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
    color: blue;
    font-weight: bold;
    background-color: white;
}
